<div id="mySidenav" class="sidenav">
  <a
    href="javascript:void(0)"
    style="width: 50px"
    class="closebtn"
    onclick="closeNav()"
    >&times;</a
  >
  <a href="/menu">Menu</a>
  <a href="/feedback">Feedback</a>
  <a href="/About">About Us</a>
</div>
<nav>
  <div class="flex-container">
    <div class="d-flex" style="flex-grow: 8">
      <a href="/">
        <img
          src="img\Standard Collection 8 (1).png"
          alt=""
          width="120px"
          height="60px"
          style="z-index: 10"
          style="position: relative; right: 100%; left: -300px"
        />
      </a>
    </div>
    <div>
      <a href="#" onclick="openNav()" style="flex-grow: 1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="60"
          fill="#e5a71a"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </a>
    </div>
  </div>
</nav>
